.app_main_class{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* grid-template-columns: repeat(auto-fill,250px); */
    /* grid-gap: 1rem; */
    /* justify-content: center; */
    align-items: center;
}
.cards{
    width: 50%;
    max-height: 150px;
    /* height: 400px; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.75rem 0;
    border: 1px solid grey;
    border-radius: 12px;
}
.cards img{
    width: 80px;
    height: 100%;
    border-radius: 12px;
    /* height: 400px; */
}
.card p {
    margin : 0px;
    word-break : break-word;
    text-overflow: ellipsis;
}